@import "./_variables";
@import "./_spacings";
@import "./__mixins.scss";

@import "../components/Login/login-style.scss";
@import "../components/UsersManagement/components/List/list-style.scss";
@import "../components/UsersManagement/components/Filter/filter-style.scss";
@import "../components/LoadingScreen/loading-screen-style.scss";
@import "../components/UsersManagement/components/Header/header-style.scss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Gordita, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: $dark-grey;
}

.text-center {
  text-align: center;
}

.input {
  height: 32px;
}

.button {
  border-width: 0;
  border-color: $teal;
  background-color: $teal;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
}

.modal {
  position: relative;
  width: 300px;
  display: flex;
  background-color: #e1e1e1;
  padding: 18px 32px;
  flex-direction: column;
  left: 40%;
  top: 38%;
}

.error-style {
  color: $more-red;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 5px;
}
